@import "helpers.css";

:root {
  --galleryClr: #383b42;
  --bodyClr: #22252c;
  --specialClr: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bodyClr);
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  font-family: Poppins;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
}
.site-header {
  border-radius: 2.3rem;
  background-image: var(--specialClr);
  margin-bottom: 1rem;
}

.main-logo {
  width: 200px;
  margin-inline-start: 1.3rem;
}
.user-msg{
  font-family: Poppins;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
}
.share-container{
  font-family: Poppins;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: 2px 2px 8px #FF0000;
}

.layout {
  max-width: 58rem;
  margin: auto;
}

.buttons a {
  height: 4.5rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gal {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 1200px;
  background-color: var(--galleryClr);
  margin: auto;
}

.gal-img {
  width: 200px;
  height: 175px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px -1px 10px 4px #000000;
}

.meme-edit {
  background-color: var(--galleryClr);
  margin-inline-end: 5.5rem;
  box-shadow: 1px 5px 0 #000000, inset 0 5px 0 #000000;
  border-radius: 30px;
  /* margin-left: 40px; */
}

.meme-edit > *{
    margin: 40px;
}

.input-div{
    margin-top: 1.5rem;
    
}

.text-input{
  box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
  border-radius: 28px;
  width: 27rem;
  height: 4rem;
}
.main-container {
  /* margin-inline-start: 5.5rem; */
  justify-content: space-between;
  /* gap: 5.5rem; */
}

.meme-canvas{
    margin-inline-start: 5.5rem;
}



@media (max-width: 1250px) {
  .gal {
    grid-template-columns: 1fr 1fr 1fr;
    width: 760px;
  }
}

@media (max-width: 800px) {
  .gal {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 500px;
  }
}
